body {
  min-width: 400px;
  width: 100%;
  height: 600px;
  min-height: 600px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

#header {
  background: #0b0;
  padding: 5px;
}

#header img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
  position: relative;
  top: 8px;
  padding-left: 1em;
}

#header h1 {
  font-size: 18px;
}
#header div {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003b00;
  height: 1.5em;
  color: white;
}

#header div a {
  color: white;
  padding-left: 5px;
}

#button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#content {
  padding: 30px 20px 10px;
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
}


#io-area {
  z-index: 9999;
  width: 400px;
  height: 600px;
  min-height: 600px;
  transition: 0.3s;
  transform: translate(-100%);
  box-sizing: border-box;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
}

.pattern-block {
  max-width: 60%;
  overflow-x: scroll;
}

.io-area-open {
  transform: translate(0) !important;
}

#popup-list{
  overflow-y: scroll;
  height: 350px;
  padding: 5px 0;
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  line-height: 1.5em;
  font-size: 16px;
  color: #333;
  }

#submit {
  display: inline-block;
  margin:10px 0;
  background-color: #0b0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;

}

#io-desc {
  margin:5px 0;
  font-size: 15px;
}

#import, #export {
  display: inline-block;
  margin:10px 0 0 20px;
  background-color: #0b0;
  border: none;
  color: #fff;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
}

#back {
  display: inline-block;
  margin:10px 0;
  background-color: #0b0;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
}

#io-head {
  margin: 5px 0;
  font-weight: 700;
  font-size: 18px;
}

#options_box {
  padding: 20px 20px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

#footer {
  position: absolute;
  width: 100%;
  height: 2em;
  background-color: #0B0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}